.signInDiv1{
    display: table;
    height:100%;
    width:100%;
}

.signInDiv2{
    display: table-cell;
    vertical-align: middle;
}

.signInDiv3{
    width:300px;
    margin: auto; /* 使其在单元格内居中*/
    text-align: left;
}

h1 {
    font-size: 60px;
    font-style: italic;
    color: darkorange;
    text-align: center;
    text-shadow: 0px 1px 2px dimgray;
    padding-bottom: 40px;
}

input {
    border-radius: 0;
    height:45px;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.borderRed {
    border-color: red;
}

.loginBtn{
    width: 300px;
    height: 50px;
    background-color: orangered;
    color:white;
    text-align: center;
    font-weight: 400;
    border: 0;
}

.loginBtn:active {
    border-left:3px solid dimgray;
    border-top:3px solid dimgray;
}

.container {
    position: relative;
    font-size: 18px;
    font-weight: 400;
    padding-left: 25px;
    padding-bottom: 40px;
    margin-top: 8px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    background-color: lightgray;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 7px;
    top: 2px;
    width: 7px;
    height: 12px;
    border: solid white ;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

.signupBtn{
    width: 100px;
    height: 50px;
    background-color: red;
    color:white;
    text-align: center;
    font-weight: 400;
    border: 0;
}

.signupBtn:active {
    border-left:3px solid dimgray;
    border-top:3px solid dimgray;
}

a {
    color:black;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    float: right;
    margin-top:14px;
}

a:hover{
    color:gray;
}
