.signUpDiv1{
    display: table;
    height:100%;
    width:100%;
}

.signUpDiv2{
    display: table-cell;
    vertical-align: middle;
}

.signUpDiv3{
    width:300px;
    margin: auto; /* 使其在单元格内居中*/
    text-align: left;
}

h1 {
    font-size: 60px;
    font-style: italic;
    color: darkorange;
    text-align: center;
    text-shadow: 0px 1px 2px dimgray;
    padding-bottom: 40px;
}

input {
    border-radius: 0;
    height:45px;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.borderRed {
    border-color: red;
}

.signupBtn{
    width: 300px;
    height: 50px;
    background-color: orangered;
    color:white;
    text-align: center;
    font-weight: 400;
    border: 0;
}

.signupBtn:active {
    border-left:3px solid dimgray;
    border-top:3px solid dimgray;
}

.errDiv {
    color: red;
    font-size: 19px;
  }