.sliderBarDiv {
    background:black;
    color:white;
    position: relative;
    display: inline-block;
    width:240px;
    height: 100%;
    /* left:-200px; */
}

.sliderBarUl {
    padding-top:30px;
    padding-left:20px;
}

.sliderBarUl li {
    padding-bottom:5px;
    list-style-type: none;
    font-size:20px;
}

.sliderBarUl li a{
    color:white;
    text-decoration: none;
    cursor: pointer;
}

.active-link{
    color:darkorange !important;
}

.sliderBarUl li a:hover{
    color:darkorange;
}

.sliderBarBtn {
    position: relative;
    vertical-align: top;
    color: white;
    background-color: black;
    height:40px;
    width:45px;
    border:0;
    padding:0;
    border-radius: 0 10px 10px 0;
}

.sliderBarBtn:focus {
    outline: none;
    box-shadow: none; 
}

.sliderBarBtn span{
    position: absolute;
    height: 2px;
    border-radius: 6px;
    width: 8px;
    background-color:white;
    left: 18px;
    transition: transform .5s;
}

.sliderBarBtn span:nth-child(1){
    top: 17px;
    transform: rotate(45deg);
}
.sliderBarBtn span:nth-child(2){
    top: 21px;
    transform: rotate(-45deg);
}

.sliderBarBtn.active span:nth-child(1){
    transform: rotate(-45deg);
}
.sliderBarBtn.active span:nth-child(2){
    transform: rotate(45deg);
}
